<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>中級課題 演習2</title>
</head>
<body>
<form th:action="@{/hotel/result}" method="post">
<p>ホテル検索</p>
<input type="text" name="price">&nbsp; 円以下<br><br>

<button>検索</button>
</form>

<br>
<div th:each="hotel : ${hotelList}" >
	<table border=1>
		<tr>
			<td>ホテル名</td>
			<td th:text="${hotel.hotelName}"></td>
		</tr>
		<tr>
			<td>最寄駅</td>
			<td th:text="${hotel.nearestStation}" ></td>
		</tr>
		<tr>
			<td>価格</td>
			<td th:text="${hotel.price}  + 円"></td>
		</tr>
	</table>
	<br>
</div>
</body>
</html>